@{
    if (Session["password"] == null)
    {
        Response.Redirect("~/db/authenticateadmin");
    }
}
<!DOCtype html>
@using dbconnectivity_C.Models;
@model string
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sign In</title>
    <style>
        body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,
        pre, form, fieldset, input, textarea, p, blockquote, th, td {
            padding: 0;
            margin: 0;
        }

        fieldset, img {
            border: 0
        }

        ol, ul, li {
            list-style: none
        }

        :focus {
            outline: none
        }

        body, input, textarea, select {
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            color: #4c4c4c;
        }

        html {
            background-color: #ffffff;
        }


        form {
            margin: 0 30px;
        }

        label.radio {
            cursor: pointer;
            text-indent: 35px;
            overflow: visible;
            display: inline-block;
            position: relative;
            margin-bottom: 15px;
        }

            label.radio:before {
                background: #3a57af;
                content: '';
                position: absolute;
                top: 2px;
                left: 0;
                width: 20px;
                height: 20px;
                border-radius: 100%;
            }

            label.radio:after {
                opacity: 0;
                content: '';
                position: absolute;
                width: 0.5em;
                height: 0.25em;
                background: transparent;
                top: 7.5px;
                left: 4.5px;
                border: 3px solid #ffffff;
                border-top: none;
                border-right: none;
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }


        hr {
            color: #a9a9a9;
            opacity: 0.3;
        }

        input[type=text], input[type=password], input[type=number], input[type=email], input[type=date] {
            width: 175px;
            height: 33px;
            -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
            -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px;
            border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
            border: solid 3px #353b5b;
            border-radius: 15px;
            background-color: #fff;
            -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
            -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
            box-shadow: 1px 2px 5px rgba(0,0,0,.09);
            margin-left: 80px;
            margin-top: 8px;
            padding-left: 10px;
            font-size: 13px;
            font-family: 'Arial Rounded MT';
            /*border-radius: 2em;
                    border-style: solid;
                    border-width: 3px;
                    font-size: 1.5rem;
                    padding: 0.5em 1em 0.5em 2em;
                    /*added*/
            /* margin-left: 460px;
                    */
        }

        .accounttype {
            margin-left: 8px;
            margin-top: 20px;
        }

        .bik {
            margin-top: 25px;
            width: 400px;
            height: 70px;
            -webkit-border-radius: 8px/7px;
            -moz-border-radius: 8px/7px;
            border-radius: 8px/7px;
            background-color: silver;
            margin-left: 385px;
            -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
            -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
            box-shadow: 0 6px rgb(255, 255, 255);
            /*padding:10px 5px 15px 20px;
        top padding is 10px
        right padding is 5px
        bottom padding is 15px
        left padding is 20px*/
            border: solid 1px #cbc9c9;
            font-size: 35px;
            font-weight: bolder;
            font-family: 'Script MT';
            color: black;
            border-radius: 60px;
        }

        .testbox {
            margin: 20px auto;
            margin-top: 15px;
            width: 400px;
            height: 725px;
            -webkit-border-radius: 8px/7px;
            -moz-border-radius: 8px/7px;
            border-radius: 8px/7px;
            background-color: silver;
            margin-left: 385px;
            -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
            -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
            box-shadow: 1px 2px 5px rgba(0,0,0,.31);
            border: solid 1px #cbc9c9;
        }

        .head1 {
            margin-top: 50px;
            font-size: 50px;
            color: white;
            font-weight: bolder;
            margin-left: 400px;
            font-family: 'Agency FB';
        }

        .head2 {
            font-size: 12px;
            margin-left: 550px;
            margin-bottom: 15px;
            font-weight: bolder;
            color: white;
            font-family: Assistant;
            font-weight: bold;
        }

        .head3 {
            margin-left: 30px;
            margin-top: 11px;
        }

        .button:active {
            background-color: black;
            box-shadow: 0 5px #272a3c;
            transform: translateY(4px);
        }

        .button:hover {
            background-color: firebrick;
        }

        .button {
            padding: 5px 8px;
            font-size: 18px;
            font-family: 'Aurulent Sans';
            text-align: center;
            cursor: pointer;
            outline: none;
            color: white;
            background-color: #192048;
            border: none;
            border-radius: 10px;
            box-shadow: 0 4px #999;
            margin-left: 140px;
            margin-top: 15px;
        }

        .indhead {
            margin-top: 15px;
            color: black;
            font-size: 20px;
            font-weight: bolder;
            font-family: Aaargh;
        }

        .cmpgen {
            margin-top: 5.5px;
            margin-left: 135px;
            font-size: 16px;
            font-family: Assistant;
            font-weight: 500;
            color: black;
        }

        .cmpgen2 {
            margin-top: 5.5px;
            margin-left: 108px;
            font-size: 16px;
            font-family: Assistant;
            font-weight: 500;
            color: black;
        }

        .dropdon {
            margin-top: 5px;
            margin-left: 40px;
            margin-bottom: 4px;
            border: solid 3px #353b5b;
            border-radius: 10px; /*makes curve*/
        }

        .constraints {
            margin-top: 1px;
            margin-left: 85px;
            font-size: 14px;
            font-family: Assistant;
            color: slategray;
            font-weight: 500;
        }

        .special {
            margin-top: 7px;
            margin-left: 82px;
            font-size: 16px;
            font-family: Assistant;
            font-weight: 500;
            color: black;
        }

        .special1 {
            margin-top: 7px;
            margin-left: 88px;
            font-size: 16px;
            font-family: Assistant;
            font-weight: 500;
            color: black;
        }

        .special2 {
            margin-top: 7px;
            margin-left: 115px;
            font-size: 16px;
            font-family: Assistant;
            font-weight: 500;
            color: black;
        }

        .sp3 {
            margin-top: 7px;
            margin-left: 118px;
            font-size: 16px;
            font-family: Assistant;
            font-weight: 500;
            color: black;
        }

        .lineclr {
            background-color: black;
        }

        .adj {
            margin-left: 90px;
            margin-top: 8px;
            margin-bottom: 15px;
        }
    </style>
</head>
<body style="background-color:black">
    <header>
        <div class="head1">Bull's Stock Exchange</div>
        <div class="head2">PAKISTAN</div>

        <hr />

        <div class="bik"><p class="head3">Broker's Company Deal</p></div>
    </header>
    <div>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
        <div class="testbox">

            <form method="post" action="../../db/CheckCompanyDealsubmit">
                <p class="indhead">Broker Details</p>
                <p class="special"> < Broker Registration No. ></p>
                <input type="number" id="lem" name="regnobroker" placeholder="Registration No. Here" required />

                <div class="lineclr"><hr /></div>

                <p class="indhead">Company Details</p>
                <p class="cmpgen"> < Name ></p>
                <input type="text" name="compname" id="namep" placeholder="max. length 100" required />

                <p class="sp3"> < No. of Ipos ></p>
                <input type="number" name="nipostosell" id="bd" required />

                <div class="lineclr"><hr /></div>

                <p class="indhead">PSX Account Info.</p>

                <p class="special1"> < PSX Registration No. ></p>
                <input type="number" id="psxregno" name="psxregno" placeholder="Positive Number" />

                <div class="lineclr"><hr /></div>

                <p class="indhead">Bank Details</p>
                <p class="special2"> < Bank Name ></p>
                <input type="text" id="name" name="bankname" placeholder="max. length 50" required />

                <p class="cmpgen"> < CNIC ></p>
                <input type="password" id="cnicbank" required name="cnicbank" placeholder="Length must be 15" pattern=".{15,}" />
                <p class="constraints">e.g : xxxxx-xxxxxxx-x</p>

                <!--<a href="../../db/resultpage" class="button">SignUp</a>-->
                <input type="submit" class="button" value="Insert" />
            </form>
            <div class="adj"><label style="color:red" ;>@Model</label></div>
        </div>
    </div>
    <footer>
        <br />
        <br />
        <hr />
    </footer>
</body>
</html>
<!--
<body style="background-color:black">
    <header>
        <div class="head1">Bull's Stock Exchange</div>
        <div class="head2">PAKISTAN</div>
        <div class="head3">( Person Deal Form)</div>
    </header>
    <div>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
        <div class="testbox">
            <form>
                <input type="number" required name="bregno1" placeholder="registration no" />
                <input type="text" required name="percnic1" placeholder="CNIC:xxxxx-xxxxxxx-x" />
                <input type="text" required name="bkname1" placeholder="Bank Name" />
                <input type="text" required name="cname1" placeholder="Company Name" />
                <input type="number" required name="shareV1" placeholder="Share Value." />
                <input type="number" required name="shares1" min="1" max="100" placeholder="No Of Shares." />
                <br />
                <br />
                <a class="button" type="submit" method="post" href="../../db/CheckPDeal">Proceed.</a>
                <!--<a href="../../db/resultpage" class="button">SignUp</a>-->
<!--<label style="color:red" ;>@Model</label>
            </form>
        </div>
    </div>
</body>
</html>
-->
