@{
    if (Session["email"] == null)
    {
        Response.Redirect("~/db/resultpage");
    }
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>buythedeal</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
