@{
    if (Session["password"] == null)
    {
        Response.Redirect("~/db/authenticateadmin");
    }
}
<!DOCtype html>
<html>
<head>
    <title> Company Credentials</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .head1 {
            font-size: 50px;
            color: white;
            font-weight: bolder;
            margin-left: 400px;
            font-family: 'Agency FB';
        }

        .head2 {
            font-size: 12px;
            margin-left: 550px;
            margin-bottom: 15px;
            font-weight: bolder;
            color: white
        }

        .head3 {
            font-size: 17px;
            font-weight: bold;
            margin-left: 508px;
            margin-bottom: 10px;
            color: white;
        }

        .head4 {
            font-size: 10px;
            margin-left: 543px;
            margin-bottom: 10px;
            font-weight: bold;
            color: white;
        }

        .button:active {
            background-color: black;
            box-shadow: 0 5px #272a3c;
            transform: translateY(4px);
        }

        .button:hover {
            background-color: white;
        }

        .button {
            padding: 15px 25px;
            font-size: 17px;
            font-style: oblique;
            text-align: center;
            cursor: pointer;
            outline: none;
            color: black;
            background-color: cadetblue;
            border: none;
            border-radius: 15px;
            box-shadow: 0 4px #999;
            margin-left: 270px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body style="background-color:black;">
    <header>
        <div class="head1">Bull's Stock Exchange</div>
        <div class="head2">PAKISTAN</div>
        <div class="head3">( Broker Domain )</div>
    </header>
    <hr />
    <div class="head4">TYPE OF DEAL</div>
    <br />
    <!--<img src="https://i.ytimg.com/vi/13RBbY_mXV4/maxresdefault.jpg" alt="bull stock exchange" width="1200" height="864">-->
    <a class="button " href="../../db/CheckPersonDeal">Investor's Deal</a>
    <a class="button" href="../../db/CheckCompanyDeal">Company's Deal</a>
    <footer>
        <br />
        <br />
        <hr />
    </footer>
</body>
</html>
<!-- https://www.businessnewsdaily.com/images/i/000/003/828/original/shutterstock_115548781.jpg?1365111317 -->
