
<!DOCtype html>
<html>
<head style="background-color:white">
    <title>Bull's Stock Exchange Pakistan</title>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            border: 1px solid #e7e7e7;
            background-color: white;
            
        }

        li {
            float: left;
        }

            li a {
                display: block;
                color: #666;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }
           li a:hover:not(.active)
           {
                    background-color: #ddd;
           }
       
        .head1
        {
            font-size: 50px;    
            font-weight: bolder;
            margin-left: 400px;
            font-family: 'Agency FB';
            margin-bottom: 1px;
            color: white;
            /* THE CHANGE TO ADD IS BELOW*/
            text-shadow: 1px 2px 1px 2px #999;
        }
        .head2
        {
            font-size: 12px;
            margin-left: 550px;
            margin-bottom: 8px;
            font-weight: bolder;
            color: white
        }

        .head3 {
            font-size: 10px;
            margin-left: 440px;
            margin-bottom: 20px;
            font-weight: bolder;
            color: white
        }

        .body_sec {
            margin-left: 480px;
        }

        .body_sec1 {
            margin-left: 10px;
            margin-bottom: 15px;
        }

        .body_sec2 {
            margin-bottom: 20px;
            margin-left: 10px;
        }

        .body_sec3 {
            margin-left: 485px;
        }

        .foot {
            margin-top: 20px
        }

        .button:active {
            background-color: black;
            box-shadow: 0 5px #272a3c;
            transform: translateY(4px);
        }

        .button:hover {
            background-color: white;
        }

        .button {
            padding: 2.5px 10px;
            font-size: 12px;
            font-family: Bebas;
            text-align: center;
            cursor: pointer;
            outline: none;
            color: black;
            background-color: firebrick;
            border: none;
            border-radius: 10px;
            box-shadow: 0 4px #999;
            margin-left: 535px;
        }
    </style>
</head>
<!--<body style="background : url(https://i.ytimg.com/vi/13RBbY_mXV4/maxresdefault.jpg)">-->
<body style="background:black">
    <header>
        <a class="head1" href="../../db/Index">Bull's Stock Exchange</a>
        <div class="head2"> PAKISTAN</div>
        <div class="head3">Intelligent - Stock Broking & Buying Platform for Investors</div>
        <ul>
            <li><a href="../../db/Index">Home</a></li>
            <li><a href="../../db/kse30">KSE-30</a></li>
            <li><a href="../../db/markethappenings">Stock Market</a></li>
            <li><a href="../../db/marketcapital">Market Capital</a></li>
            <li><a href="../../db/personcapital">Person Capital</a></li>
        </ul>
    </header>
    <br />
    <!--<background="bgimage.jpg"></background>-->
    <div class="body_sec">
        <p style="color:white">
            ( INVESTORS CLICK BELOW )
        </p>
    </div>
    <div class="body_sec1"> <a method="post" class="button" href="../../db/person">INVESTOR</a></div>
    <div class="body_sec3">
        <p style="color:white">

            ( COMPANY CLICK BELOW )
        </p>
    </div>
    <div class="body_sec2"> <a method="post" class="button" href="../../db/company">COMPANY</a></div>
    <!--add the bar-->
    <img src="https://blog.hubspot.com/hs-fs/hub/53/file-28040376-jpg/Blog-Related_Images/money-in-black-and-white.jpg" alt="dollar pic" width="1150" height="814" />
    <!-- </form> -->
    <footer>
        <br />
        <br />
        <hr />
    </footer>
</body>
</html>
<!--<div class="foot">
<footer style="color:white; font-family:Helvetica; font-size:smaller">
    - "Your Trusted Brokers"
</footer>
 </div>-->
