<!DOCTYPE html>
<html>
<head>
    <title>Successfull !</title>
    <style>
        .head1 {
            font-size: 50px;
            font-weight: bolder;
            margin-left: 400px;
            font-family: 'Agency FB';
            margin-bottom: 1px;
            color: white;
            /* THE CHANGE TO ADD IS BELOW*/
            text-shadow: 1px 2px 1px 2px #999;
        }

        .head2 {
            font-size: 12px;
            margin-left: 550px;
            margin-bottom: 8px;
            font-weight: bolder;
            color: white
        }

        .head3 {
            font-size: 10px;
            margin-left: 440px;
            margin-bottom: 20px;
            font-weight: bolder;
            color: white
        }

        .body_sec {
            margin-left: 480px;
        }

        .body_sec1 {
            margin-left: 10px;
            margin-bottom: 15px;
        }

        .body_sec2 {
            margin-bottom: 20px;
            margin-left: 10px;
        }

        .body_sec3 {
            margin-left: 485px;
        }

        .foot {
            margin-top: 20px
        }

        .button:active {
            background-color: black;
            box-shadow: 0 5px #272a3c;
            transform: translateY(4px);
        }

        .button:hover {
            background-color: white;
        }

        .button {
            padding: 2.5px 10px;
            font-size: 12px;
            font-family: Bebas;
            text-align: center;
            cursor: pointer;
            outline: none;
            color: black;
            background-color: firebrick;
            border: none;
            border-radius: 10px;
            box-shadow: 0 4px #999;
            margin-left: 535px;
        }
    </style>
</head>
<body style="background:black">
    <header>
        <a class="head1" href="../../db/Index">Bull's Stock Exchange</a>
        <div class="head2"> PAKISTAN</div>
        <div class="head3">Intelligent - Stock Broking & Buying Platform for Investors</div>
    </header>
    <hr />
    <div class="jumbotron text-xs-center">
        <h1 class="display-3">Update Successful !</h1>
        <hr>
        <br />
        <p>
            Having trouble? &nbsp; Contact at: bullsadmin@gmail.com
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-sm" href="../../db/adminpage" role="button">Continue to Adminpage</a>
        </p>
    </div>
    <hr />
</body>
</html>